/****** Main color chooser ******/
// need to solve the cache and rebuild problem

/****
$primary: #00796B;
$secondary: #009688;
$success: #2be6ab;
$link: #498ed3;
$bg-light: #B2DFDB;
$danger: #FFC107;
*/



$primary: #009688;
$secondary: #2cE9AD;
$success: #2be6ab;
$link: #498ed3;
$bg-light: #B2DFDB;
$danger: #FFC107;



/******** Red and Green Christmas *****/
/*** $primary: #D32F2F;
 $secondary: #FFCDD2;
 $success: #2be6ab; 
 $link: #F44336;
 $bg-light: #607D8B;
 $danger: #FFC107;
***/


/*** Dark Random ****/
/***
$primary: #010101;
$secondary: #EDEDED;
$success: #123456; 
$link: #654321;
$bg-light: #995511;
$danger: #AABBCC;
***/
